// fonts
$default-font: "Roboto";

// colors
$header-bg: #f5f5f5;
$white: #fcfcfc;
$green: #8eb540;
$black: #353535;
$lang-gray: #a2a2a2;
$gray: #919191;

$font-size-8: 8px;
$font-size-10: 10px;
$font-size-14: 14px;
$font-size-12: 12px;

$mobile-size: 900px;
